{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {
	"iconName": "arrow-left"
} %}

{# Макрос компонента #}
{% macro appPaginationArrowBtn(opts = {
	"iconName": ""
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "pagination-arrow-btn" %}

	{# Код компонента #}
	<a class="{{ BLOCK }} app-pagination__btn" href="#">
		<svg width="20px" height="20px">
			<use xlink:href="images/icons/sprites/user-icons.svg#{{ opts.iconName }}"></use>
		</svg>
	</a>
{% endmacro %}