{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Подключение компонентов, которые использует этот компонент #}
{% from "spinner-icon/spinner-icon.njk" import spinnerIcon %}

{# Значения по умолчанию #}
{% set defaults = {
	"tagName": "button",
	"linkPath": "#"
} %}

{# Макрос компонента #}
{% macro appButton(opts = {
	"tagName": "",
	"additionalClasses": "",
	"modifs": [],
	"text": "",
	"iconName": "",
	"linkPath": ""
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "app-button" %}

	{# Код компонента #}
	<{{ opts.tagName }}
	class="{{ opts.modifs | classWithModifs(BLOCK) }}
	{% if opts.iconName and not opts.text -%} {{ BLOCK }}--only-icon {% endif %}
	{%- if  opts.text and not opts.iconName -%} {{ BLOCK }}--only-text {% endif %}
	{{- opts.additionalClasses }}"
	{% if opts.tagName === 'a' %}href="{{ opts.linkPath }}"{% endif %}
	>
		{% if opts.iconName %}
			<svg class="{{ BLOCK }}__icon" width="20px" height="20px">
				<use xlink:href="images/icons/sprites/user-icons.svg#{{ opts.iconName }}"></use>
			</svg>
		{% endif %}

		{{ spinnerIcon({"additionalClasses": BLOCK + "__loading"}) }}

		{{ opts.text }}
	</{{ opts.tagName }}>

{% endmacro %}