{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Подключение компонентов, которые использует этот компонент #}
{% from "spinner-icon/spinner-icon.njk" import spinnerIcon %}

{# Значения по умолчанию #}
{% set defaults = {
	"tagName": "button",
	"linkPath": "#"
} %}

{# Макрос компонента #}
{% macro appButton(opts = {
	"tagName": "",
	"additionalClasses": "",
	"modifs": [],
	"text": "",
	"iconName": "",
	"linkPath": ""
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}

	{# Код компонента #}
	<{{ opts.tagName }}
	class="app-button {{ opts.modifs | generateModifs("app-button") -}}
	{%- if opts.iconName and not opts.text -%} app-button--only-icon {%- endif -%}
	{%- if  opts.text and not opts.iconName -%} app-button--only-text {%- endif -%}
	{{ opts.additionalClasses -}}"
	{% if opts.tagName === 'a' %}href="{{ opts.linkPath }}"{% endif %}
	>
		{% if opts.iconName %}
			<svg class="app-button__icon" width="20px" height="20px">
				<use xlink:href="images/icons/sprites/user-icons.svg#{{ opts.iconName }}"></use>
			</svg>
		{% endif %}

		{{ spinnerIcon({"additionalClasses": "app-button__loading"}) }}

		{{ opts.text }}
	</{{ opts.tagName }}>

{% endmacro %}