.app-button {
	--color-fill: var(--Base);
	--border-size: 1px;

	position: relative;

	max-width: max-content;
	padding: calc(10px - var(--border-size)) calc(18px - var(--border-size));
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	@extend .Body-M-Medium;
	color: var(--color-fill);

	border-radius: 8px;
	--background-color-border-color: var(--Primary-600);
	border: var(--border-size) solid var(--background-color-border-color);
	background-color: var(--background-color-border-color);

	&--disabled {
		--background-color-border-color: var(--Primary-200);
	}

	&:not(.app-button--loading):not(.app-button--disabled):not(.app-button--secondary):not(.app-button--tertiary):not(.app-button--tag):not(.app-button--red) {
		@include hover {
			--background-color-border-color: var(--Primary-700);
		}
	}

	&:not(.app-button--loading):not(.app-button--disabled) {
		&:active {
			opacity: var(--press-opacity);
		}
	}

	&__icon,
	&__loading {
		fill: var(--color-fill);
	}

	&__loading {
		display: none;
	}

	// Модификатор меняет местами иконку и текст
	&--icon-after-txt {
		flex-direction: row-reverse;
	}

	// Модификаторы размера кнопки
	&--medium {
		@extend .Body-S-Medium;
	}

	&--small {
		padding: calc(8px - var(--border-size)) calc(14px - var(--border-size));
		@extend .Body-S-Medium;
	}

	// Модификатор кнопки без текста
	&--only-icon {
		padding: calc(12px - var(--border-size));

		&.app-button--medium {
			padding: calc(10px - var(--border-size));
		}

		&.app-button--small {
			padding: calc(8px - var(--border-size));
		}
	}

	// Модификатор состояния загрузки и отключения
	&--loading,
	&--disabled {
		cursor: default;
	}

	&--loading {
		.app-button__loading {
			display: block;
		}

		.app-button__icon {
			display: none;
		}
	}

	&--only-text.app-button--loading {
		color: transparent;

		.app-button__loading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// Модификатор кнопки с бордером второй
	&--secondary {
		--color-fill: var(--Content-900);

		border-color: var(--Content-300);
		background-color: var(--Base);

		&:not(.app-button--loading):not(.app-button--disabled) {
			@include hover {
				background-color: var(--Content-50);
			}
		}

		&.app-button--disabled {
			--color-fill: var(--Content-300);

			border-color: var(--Content-200);
		}
	}

	// Модификатор кнопки с бордером третий
	&--tertiary {
		--color-fill: var(--Content-900);

		border-color: var(--Content-300);
		background-color: var(--Base);

		&:not(.app-button--loading):not(.app-button--disabled) {
			@include hover {
				--color-fill: var(--Primary-600);

				background-color: var(--Content-50);
			}
		}

		&.app-button--disabled {
			--color-fill: var(--Content-300);

			border-color: var(--Content-200);
		}
	}

	// Модификатор кнопки тега
	&--tag {
		--color-fill: var(--Primary-600);
		--background-color-border-color: var(--Primary-100);

		&:not(.app-button--loading) {
			@include hover {
				background-color: var(--Primary-200);
			}
		}
	}

	// Модификатор кнопки red
	&--red {
		--background-color-border-color: var(--Destructive-600);

		&:not(.app-button--loading):not(.app-button--disabled) {
			@include hover {
				--background-color-border-color: var(--Destructive-700);
			}
		}

		&.app-button--disabled {
			--background-color-border-color: var(--Destructive-200);
		}
	}
}
