{% set defaults = {} %}

{% macro appButtonIcons(opts = {
	"additionalClasses": "",
	"textContent": "",
	"elems": {}
}) %}

	{% set opts = defaults | concatWithObject(opts) %}

	<div class="example__elem-two {{ opts.additionalClasses }}">
		{{ opts.textContent }}
	</div>
{% endmacro %}