$fontsExtensions: "woff2", "woff";

// **************************
// *** Inter ***
// **************************
$InterPath: "../fonts/Inter";
$Inter: "Inter";

@include font-face($Inter, "#{$InterPath}/inter-v8-latin-regular", 400, normal, $fontsExtensions);
@include font-face($Inter, "#{$InterPath}/inter-v8-latin-500", 500, normal, $fontsExtensions);
@include font-face($Inter, "#{$InterPath}/inter-v8-latin-600", 600, normal, $fontsExtensions);
