{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Подключение компонентов, которые использует этот компонент #}
{% from "app-button/app-button.njk" import appButton %}

{# Значения по умолчанию #}
{% set defaults = {
	"elems": {
		"btn": {
			"text": "Add card"
		}
	}
} %}

{# Макрос компонента #}
{% macro addCard(opts = {
	"additionalClasses": "",
	"modifs": [],
	"elems": {
		"btn": {
			"modifs": [],
			"text": ""
		}
	}
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}

	{# Код компонента #}
	<div class="add-card {{ opts.modifs | generateModifs("add-card") -}} {{ opts.additionalClasses -}}">
		<div class="add-card__information">
			<div class="add-card__description">You can add a product card by clicking on the button</div>
			{{ appButton({
				"tagName": "button",
				"additionalClasses": "add-card__btn",
				"modifs": opts.elems.btn.modifs,
				"text": opts.elems.btn.text,
				"iconName": "plus-circle"
			}) }}
		</div>
	</div>

{% endmacro %}