{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Подключение компонентов, которые использует этот компонент #}
{% from "app-button/app-button.njk" import appButton %}

{# Значения по умолчанию #}
{% set defaults = {
	"elems": {
		"btn": {
			"text": "Add card"
		}
	}
} %}

{# Макрос компонента #}
{% macro addCard(opts = {
	"additionalClasses": "",
	"modifs": [],
	"elems": {
		"btn": {
			"modifs": [],
			"text": ""
		}
	}
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "add-card" %}

	{# Код компонента #}
	<div class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }}">
		<div class="{{ BLOCK }}__information">
			<div class="{{ BLOCK }}__description">You can add a product card by clicking on the button</div>
			{{ appButton({
				"tagName": "button",
				"additionalClasses": BLOCK + "__btn",
				"modifs": opts.elems.btn.modifs,
				"text": opts.elems.btn.text,
				"iconName": "plus-circle"
			}) }}
		</div>
	</div>

{% endmacro %}