{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Подключение компонентов, которые использует этот компонент #}
{# {% from "app-star/app-star.njk" import appStar %} #}

{# Значения по умолчанию #}
{% set defaults = {} %}

{# Макрос компонента #}
{% macro addCard(opts = {
	"additionalClasses": "",
	"modifs": []
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}

	{# Код компонента #}
	<div class="add-card {{ opts.modifs | generateModifs("add-card") -}} {{ opts.additionalClasses -}}">
		Hello add card!
	</div>

{% endmacro %}