{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Подключение компонентов, которые использует этот компонент #}
{% from "simple-picture/simple-picture.njk" import simplePicture %}
{% from "category-badge/category-badge.njk" import categoryBadge %}
{% from "app-rating/app-rating.njk" import appRating %}
{% from "app-price/app-price.njk" import appPrice %}
{% from "sale-badge/sale-badge.njk" import saleBadge %}

{# Значения по умолчанию #}
{% set defaults = {
	"elems": {
		"simplePicture": {
			"imagePath": "images/simple-picture/",
			"imageName": "img",
			"imageType": "jpg",
			"hasMobileVersion": true
		},
		"categoryBadge": {
			"modifs": ['shooter'],
			"text": "Shooter"
		},
		"title": "Call of Duty: Warzone",
		"appRating": {
			"amountStars": 4.5,
			"votes": "9,199"
		},
		"description": "Get the Captain Price Operator included with purchase",
		"appPrice": "",
		"saleBadge": ""
	}
} %}

{# Макрос компонента #}
{% macro appCard(opts = {
	"additionalClasses": "",
	"modifs": [],
	"elems": {
		"simplePicture": {
			"imagePath": "",
			"imageName": "",
			"imageType": "",
			"hasMobileVersion": false
		},
		"categoryBadge": {
			"modifs": [],
			"text": ""
		},
		"title": "",
		"appRating": {
			"amountStars": null,
			"votes": ""
		},
		"description": "",
		"appPrice": {
			"oldPrice": "",
			"actualPrice": ""
		},
		"saleBadge": {
			"text": ""
		}
	}
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "app-card" %}

	{# Код компонента #}
	<a class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }}" href="#">
		<div class="{{ BLOCK }}__img">
			{{ simplePicture({
				"additionalClasses": BLOCK + "__pic",
				"imagePath": opts.elems.simplePicture.imagePath,
				"imageName": opts.elems.simplePicture.imageName,
				"imageType": opts.elems.simplePicture.imageType,
				"hasMobileVersion": opts.elems.simplePicture.hasMobileVersion
			}) }}
		</div>
		<div class="{{ BLOCK }}__information">
			<div class="{{ BLOCK }}__details">
				{{ categoryBadge({
					"additionalClasses": BLOCK + "__category-badge",
					"modifs": opts.elems.categoryBadge.modifs,
					"text": opts.elems.categoryBadge.text
				}) }}
				<span class="{{ BLOCK }}__title">{{ opts.elems.title }}</span>
				{{ appRating({
					"additionalClasses": BLOCK + "__rating",
					"amountStars": opts.elems.appRating.amountStars,
					"votes": opts.elems.appRating.votes
				}) }}
				<div class="{{ BLOCK }}__description">
					<p>{{ opts.elems.description }}</p>
				</div>
			</div>
			<hr class="{{ BLOCK }}__divider">
			<div class="{{ BLOCK }}__prices">
				{% if opts.elems.appPrice %}
					{{ appPrice({
						"additionalClasses": BLOCK + "__price",
						"oldPrice": opts.elems.appPrice.oldPrice,
						"actualPrice": opts.elems.appPrice.actualPrice
					}) }}
				{% endif %}
				{% if opts.elems.saleBadge %}
					{{ saleBadge({
						"additionalClasses": BLOCK + "__sale-badge",
						"text": opts.elems.saleBadge.text
					}) }}
				{% endif %}
			</div>
		</div>
	</a>

{% endmacro %}