{% from "category-badge/category-badge.njk" import categoryBadge %}

{# default #}
{{ categoryBadge({
	"additionalClasses": ""
}) }}
{# action-rpg #}
{{ categoryBadge({
	"additionalClasses": "",
	"modifs": ['action-rpg'],
	"text": "Action RPG"
}) }}
{# action #}
{{ categoryBadge({
	"additionalClasses": "",
	"modifs": ['action'],
	"text": "Action"
}) }}
{# card-game #}
{{ categoryBadge({
	"additionalClasses": "",
	"modifs": ['card-game'],
	"text": "Card Game"
}) }}
{# multiplayer-rpg #}
{{ categoryBadge({
	"additionalClasses": "",
	"modifs": ['multiplayer-rpg'],
	"text": "Multiplayer RPG"
}) }}
{# shooter #}
{{ categoryBadge({
	"additionalClasses": "",
	"modifs": ['shooter'],
	"text": "Shooter"
}) }}
{# strategy #}
{{ categoryBadge({
	"additionalClasses": "",
	"modifs": ['strategy'],
	"text": "Strategy"
}) }}