{# arrow-down #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#arrow-down"></use>
</svg>
{# arrow-left #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#arrow-left"></use>
</svg>
{# arrow-right #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#arrow-right"></use>
</svg>
{# browse #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#browse"></use>
</svg>
{# cart #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#cart"></use>
</svg>
{# cross #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#cross"></use>
</svg>
{# filter #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#filter"></use>
</svg>
{# home #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#home"></use>
</svg>
{# minus-circle #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#minus-circle"></use>
</svg>
{# plus-circle #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#plus-circle"></use>
</svg>
{# pin #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#pin"></use>
</svg>
{# user #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#user"></use>
</svg>
{# search #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#search"></use>
</svg>
{# cross-circle #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#cross-circle"></use>
</svg>
{# spinner #}
<svg width="20px" height="20px">
	<use xlink:href="images/icons/sprites/user-icons.svg#spinner"></use>
</svg>
{# star #}
<svg width="12px" height="11px">
	<use xlink:href="images/icons/sprites/user-icons.svg#star"></use>
</svg>