.faq {
	&__title,
	&__description {
		display: block;
		margin-bottom: 20px;

		text-align: center;
	}

	&__title {
		@extend .Display-Medium;
		color: var(--Content-900);
	}

	&__description {
		@extend .Body-M-Regular;
		color: var(--Content-500);
	}

	&__accordions {
	}

	&__accordion {
		@extend .Body-M-Regular;
		color: var(--Content-500);

		border-bottom: 1px solid var(--Content-300);
		&:last-child {
			border-bottom: none;
		}

		&-title {
			padding: 24px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 24px;

			@extend .Body-L-Medium;
			color: var(--Content-900);

			cursor: pointer;
		}

		&-plus,
		&-minus {
			fill: var(--Primary-600);
		}

		&-minus {
			display: none;
		}

		&-content {
			padding-bottom: 20px;
		}
	}

	&__accordion.js-open {
		.faq__accordion-plus {
			display: none;
		}

		.faq__accordion-minus {
			display: block;
		}
	}

	@include max-w__767 {
		&__title,
		&__description {
			text-align: left;
		}
		&__title {
			margin-bottom: 16px;

			@include font(24px, 28px, 600);
		}
	}
}
