{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {
	"type": "text",
	"placeholder": "input"
} %}

{# Макрос компонента #}
{% macro appInput(opts = {
	"additionalClasses": "",
	"modifs": [],
	"type": "",
	"placeholder": ""
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "app-input" %}

	{# Код компонента #}
	<input class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }}" type="{{ opts.type }}" placeholder="{{ opts.placeholder }}">

{% endmacro %}