{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {
	"optionData": [
		{
			"value": "value 1"
		}, {
			"value": "value 2"
		}, {
			"value": "value 3"
		}
	],
	"isMultiple": false
} %}

{# Макрос компонента #}
{% macro appSelect(opts = {
	"additionalClasses": "",
	"modifs": [],
	"id": "",
	"optionData": [],
	"placeholder": "",
	"isMultiple": false
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "app-select" %}

	{# Код компонента #}
	<select
	class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }} js-slim-select"
	{% if opts.id %} id="{{ opts.id }}" {% endif %}
	{% if opts.isMultiple %} multiple {% endif %}>
		{% for item in opts.optionData %}
			{% if loop.index === 1 and opts.placeholder %}
				<option data-placeholder="true">{{ opts.placeholder }}</option>
			{% endif %}
			<option value="{{ item.value }}" {% if item.isSelected %} selected {% endif %}>{{ item.value }}</option>
		{% endfor %}
	</select>
{% endmacro %}