// Перебиваем стили плагина
.ss-main {
	--arrow-color: var(--Content-900);
	--border-color: var(--Content-300);

	.ss-multi-selected,
	.ss-single-selected {
		--border-size: 1px;

		height: 44px;

		@extend .Body-M-Medium;
		color: var(--Content-900);

		background-color: var(--Base);
		border: var(--border-size) solid var(--border-color);
		border-radius: 8px;
	}

	.ss-multi-selected {
		padding: calc(11px - var(--border-size));

		.ss-values {
			flex-wrap: nowrap;
			gap: 4px;
			width: unset;

			overflow: hidden;

			.ss-value {
				flex-shrink: 0;
				padding: 2px 8px;
				margin: unset;

				@extend .Body-XS-Regular;
				color: var(--Primary-600);

				background-color: var(--Primary-50);

				.ss-value-delete {
					width: 12px;
					height: 12px;
					@include font(0, 0);
					margin: 0 0 0 6px;

					@include bgc(url(../images/icons/cross-primary.svg), null, null, no-repeat, 100%, center);
				}
			}

			.ss-disabled {
				padding: 0;
				margin: 0;

				@include font(16px, 24px, 500);
				color: var(--Content-400);
			}
		}

		.ss-add {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: unset;
			width: 20px;
			height: 20px;
			margin: 0 0 0 4px;

			.ss-plus.ss-cross {
				transform: rotate(-135deg);
				margin: 3px 0 0;
			}
			.ss-plus {
				background: unset;
				height: 7px;
				width: 7px;
				margin: -3px 0 0;

				border: solid var(--arrow-color);
				border-width: 0 2px 2px 0;
				border-radius: 1px;
				transform: rotate(45deg);
				transition: transform 0.2s, margin 0.2s;

				&:after {
					display: none;
				}
			}
		}
	}

	.ss-single-selected {
		padding: {
			top: calc(10px - var(--border-size));
			right: calc(12px - var(--border-size));
			bottom: calc(10px - var(--border-size));
			left: calc(18px - var(--border-size));
		}

		.placeholder {
			width: unset;
			@include font(16px, 24px, 500);
		}

		.ss-arrow {
			width: 20px;
			height: 20px;
			justify-content: center;
			flex: unset;
			flex-shrink: 0;
			margin: 0 0 0 8px;

			span {
				border-color: var(--arrow-color);
				border-radius: 1px;
				padding: 0;
				width: 7px;
				height: 7px;
			}
		}
	}

	@include hover {
		--arrow-color: var(--Primary-600);
		--border-color: var(--Content-400);
	}
}

.ss-content {
	border-color: var(--border-color);

	.ss-search {
		input:focus {
			box-shadow: 0 0 5px var(--Primary-400);
		}
	}

	.ss-list {
		-ms-overflow-style: none; /* for Internet Explorer, Edge */
		scrollbar-width: none; /* for Firefox */
		overflow-y: scroll;

		&::-webkit-scrollbar {
			display: none; /* for Chrome, Safari, and Opera */
		}

		.ss-option {
			&:hover {
				background-color: var(--Primary-300);
			}
		}
	}
}

.app-select {
}
