{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {} %}

{# Макрос компонента #}
{% macro appStar(opts = {
	"additionalClasses": "",
	"modifs": []
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "app-star" %}

	{# Код компонента #}
	<div class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }}"></div>

{% endmacro %}