{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {
	"actualPrice": "649"
} %}

{# Макрос компонента #}
{% macro appPrice(opts = {
	"additionalClasses": "",
	"modifs": [],
	"oldPrice": "",
	"actualPrice": ""
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}

	{# Код компонента #}
	<div class="{{ opts.modifs | classWithModifs("app-price") }} {{ opts.additionalClasses }}">
		{% if opts.oldPrice %}
			<span class="app-price__old">${{ opts.oldPrice }}</span>
		{% endif %}
		<span class="app-price__actual">${{ opts.actualPrice }}</span>
	</div>

{% endmacro %}