{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {
	"actualPrice": "649"
} %}

{# Макрос компонента #}
{% macro appPrice(opts = {
	"additionalClasses": "",
	"modifs": [],
	"oldPrice": "",
	"actualPrice": ""
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "app-price" %}

	{# Код компонента #}
	<div class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }}">
		{% if opts.oldPrice %}
			<span class="{{ BLOCK }}__old">${{ opts.oldPrice }}</span>
		{% endif %}
		<span class="{{ BLOCK }}__actual">${{ opts.actualPrice }}</span>
	</div>

{% endmacro %}