.spinner-icon {
	font-size: 0;
	line-height: 1;

	&__loading {
		animation-name: spinner-rotation;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

// Анимация
@keyframes spinner-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
