{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {} %}

{# Макрос компонента #}
{% macro spinnerIcon(opts = {
	"additionalClasses": "",
	"modifs": []
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "spinner-icon" %}

	{# Код компонента #}
	<span class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }}">
		<svg class="{{ BLOCK }}__loading" width="20px" height="20px">
			<use xlink:href="images/icons/sprites/user-icons.svg#spinner"></use>
		</svg>
	</span>

{% endmacro %}