{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {
	"text": "-5%"
} %}

{# Макрос компонента #}
{% macro saleBadge(opts = {
	"additionalClasses": "",
	"modifs": [],
	"text": ""
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "sale-badge" %}

	{# Код компонента #}
	<div class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }}">
		{{- opts.text -}}
	</div>

{% endmacro %}