{% from "./elems/__elem-two/__elem-two.njk" import exampleElemTwo %}

{#
    Готовые модификаторы:
    modifs : [
        "wide" делает элемент на всю ширину
    ];
#}

{% set defaults = {
    "titleText": "Блок, который выводится сразу на страницу"
} %}

{% macro example(opts = {
    "additionalClasses": "",
    "modifs": [],
    "titleText": "",
    "elems": {
        "elemsOne": false
    }
}) %}

    {% set opts = defaults | concatWithObject(opts) %}

    <div class="{{ opts.additionalClasses }} example {{ opts.modifs | generateModifs("example") }}">
        <div class="h1">{{ opts.titleText }}</div>

        {% if opts.elems.elemsOne %}
            {% include "../example/elems/__elem-one/__elem-one.html" %}
        {% endif %}

        {{ exampleElemTwo({
            "additionalClasses": "",
            "textContent": "Пример элемента блока, подключаемого через макрос",
            "elems": {}
        }) }}
    </div>
{% endmacro %}
