{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Подключение компонентов, которые использует этот компонент #}
{% from "app-star/app-star.njk" import appStar %}

{# Значения по умолчанию #}
{% set defaults = {
	"amountStars": 4.5
} %}

{# Макрос компонента #}
{% macro appStars(opts = {
	"additionalClasses": "",
	"modifs": [],
	"amountStars": null
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}
	{# Класс компонента #}
	{% set BLOCK = "app-stars" %}

	{# Код компонента #}
	<div class="{{ opts.modifs | classWithModifs(BLOCK) }} {{ opts.additionalClasses }}">
		<div class="{{ BLOCK }}__inner">
			<div class="{{ BLOCK }}__grey-stars">
				{% for i in range(0, 5) %}
					{{ appStar({
						"additionalClasses": BLOCK + "__star"
					}) }}
				{% endfor %}
			</div>
			<div class="{{ BLOCK }}__yellow-stars" style="width: calc({{ opts.amountStars }} / 5 * 100%);">
				{% for i in range(0, 5) %}
					{{ appStar({
						"additionalClasses": BLOCK + "__star",
						"modifs": ["yellow"]
					}) }}
				{% endfor %}
			</div>
		</div>
	</div>

{% endmacro %}