.main {
	flex-grow: 1;

	&--catalog {
		.catalog {
			margin-bottom: 80px;
		}
		.faq {
			margin-bottom: 80px;
		}
	}

	@include max-w__1279 {
		&--catalog {
			.page-top {
				margin-bottom: 32px;
			}

			.catalog {
				margin-bottom: 60px;
			}
		}
	}

	@include max-w__767 {
		&--catalog {
			.page-top {
				margin-bottom: 20px;
			}
		}
	}
}
