<!DOCTYPE html>
<html lang="ru">
	<head>
		{% include "../meta.html" %}

		{% block additionalMeta %}{% endblock %}
	</head>
	<body>
		{% include "@sections/header/header.html" %}

		<main class="main">
			{% block content %}{% endblock %}
		</main>

		{% include "@sections/footer/footer.html" %}
		{% include "../scripts.html" %}
	</body>
</html>