<!DOCTYPE html>
<html lang="ru">
	<head>
		{% include "../meta.html" %}

		{% block additionalMeta %}{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			{% include "@sections/header/header.html" %}

			{% block content %}{% endblock %}

			{% include "@sections/footer/footer.html" %}

			{% include "../dark-layer/dark-layer.html" %}

			{% include "../scripts.html" %}
		</div>
	</body>
</html>