{#!!! Для понимания, как работает компонент, читай README.md этого компонента !!!#}

{# Значения по умолчанию #}
{% set defaults = {
	"text": "text default"
} %}

{# Макрос компонента #}
{% macro categoryBadge(opts = {
	"additionalClasses": "",
	"modifs": [],
	"text": ""
}) %}

	{# Подключение значений по умолчанию #}
	{% set opts = defaults | concatWithObject(opts) %}

	{# Код компонента #}
	<span class="{{ opts.modifs | classWithModifs("category-badge") }} {{ opts.additionalClasses }}">
		{{ opts.text }}
	</span>

{% endmacro %}